
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2efe9;
  color: #1a1815;
  /* background-image: radial-gradient(#d3cbbe 1px, transparent 1px);
  background-size: 20px 20px; */
  height: 100vmax;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2b292a;       
  color: white;
}
.navbar .logo {
  padding: 10px;
  font-weight: bold;
  font-size: larger;
}
.navbar .nav-links {
  display: flex;
  justify-content: space-between;
}
.navbar .nav-links li {
  align-items: center;
  padding: 10px;
  list-style-type: none;
}
.navbar .nav-links li a{
  text-decoration: none;
  color: white;
}

.image-button {
  /* Set the path to your image */
  background-image: url('button.png');
  
  /* Scale the image to fill the button completely */
  background-size: contain;
  
  /* Center the image within the button area */
  background-position: center;
  
  /* Prevent the image from tiling */
  background-repeat: no-repeat;
  
  /* Remove default browser button styling */
  border: none;
  background-color: transparent;
  
  /* Define the clickable area dimensions */
  width: 120px;
  height: 40px;
  
  /* Text styling for readability */
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 80vh;
}
.hero .mypic-se{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .mypic-se .mypic img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px solid #2b292a;
}
.hero .myquote {
  background-color: aliceblue;
  color: black;
  /* border-radius:0px 50px 50px 0px;
  border: 1px solid black; */
}